@use "../variables";

.product {
  position: relative;
  display: block;
  padding: 1rem;
  border-radius: variables.$border-radius;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$semi-white;
    filter: blur(5rem);
    z-index: -1;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;

    img {
      pointer-events: none;
      user-select: none;
      object-fit: contain;
      max-height: 20rem;
      height: 100%;
    }
  }

  &__title {
    margin: 1rem 0 0 0;
    text-align: center;
    color: variables.$accent-color;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
