.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  margin: auto auto 0 auto;
  background-color: $accent-color-dark;
  padding: 15px 10px;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 12rem;
    width: 100%;

    .main-logo__symbol {
      fill: $white;
    }
  }


}
