.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  border-radius: 0 0 10px 10px;
  background: rgba(104, 106, 108, 0.9);
  padding: 17px 30px;
  transition: background .3s ease-in-out;

  &__drawer {
    position: fixed;
    top: 68px;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    pointer-events: none;
    transition: .3s ease-in-out all;

    &.active {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      transform: translateX(0);
      z-index: 1000;
    }

    &-content {
      padding: 30px 15px;
      background: #ffffff;
      max-width: 350px;
      width: 100%;
    }

    @media (max-width: 500px) {
      top: 58px;
    }
  }

}

@media (max-width: 550px) {
  .header {
    background: linear-gradient(90deg, rgba(242, 145, 20, 1) 0%, rgba(192, 32, 58, 0.9) 50%, rgba(242, 145, 20, 0.9) 100%);
  }
}

.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__cart {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  svg {
    width: 25px;
    height: 25px;
    fill: #ffffff;
  }
}

.header__cart_count {
  position: absolute;
  top: -10px;
  right: 10px;
  min-width: 20px;
  background-color: #fff;
  padding: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  /*color: var(--tg-theme-text-color) !important;*/
  color: #ffffff;
}

.header__menu-burger {
  position: absolute;
  width: 35px;
  height: 25px;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
}



@media (max-width: 500px) {
  .title {
    font-size: 20px;
  }
}
