@use "../variables";

@include variables.showAnim;

.input-field {

  &__label {
    font-size: 2rem;
    font-weight: 400;
  }

  &__field {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: .5rem;
    bottom: .5rem;
    margin: auto 0;
    display: flex;
    width: 2rem;
    height: 2rem;

    & span {
      width: 100%;
      height: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: variables.$accent-color;
    }
  }

  &__input {
    width: 100%;
    font-size: 1.6rem;
    border-bottom: 1px solid variables.$grey-light;
    padding: 1rem 2rem 1rem 0;
    line-height: 1;
    transition: all variables.$transition;

    &.icon {
      padding-left: 3rem;
    }

    &.error {
      background-color: variables.$error-color;
      border-bottom: 1px solid variables.$error-color;
    }

    &:hover {
      border-bottom: 1px solid variables.$accent-color-light;
    }

    &:focus,
    &.active {
      border-bottom: 1px solid variables.$accent-color;
    }

    &::placeholder {
      color: variables.$grey;
      opacity: 1;
    }
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0.5rem;
    bottom: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    margin: auto 0;
    display: flex;
    cursor: pointer;
    animation: showAnim variables.$transition;

    & span {
      width: 100%;
      height: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: variables.$accent-color;
    }
  }

  &__help {
    display: flex;
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: opacity variables.$transition, height variables.$transition;

    &.show {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &__error-message {
    color: variables.$black;
    background-color: variables.$error-color;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .5rem 0;
    pointer-events: none;
  }
}
