.ant-upload-select {
  width: 100%;
  display: flex !important;

  & .ant-upload {
    position: relative;
    width: 100%;
  }

  .ant-btn {
    width: 100%;
    display: flex;
    color: $grey;
    font-weight: 600;

    &:hover {
      color: $accent-color-light !important;
      border-color: $accent-color-light !important;
    }
  }

  .upload_input {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -999;
  }
}

.ant-upload-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &::before,
  &::after {
    display: none !important;
  }

  & .ant-upload-list-item-container {
    flex: 0 1 32%;
    margin: 0 0 .5rem 0;

    .ant-upload-list-item {
      margin: 0;
    }

    .ant-upload-list-item-name {
      max-width: 80px;
      width: 100%;
    }
  }
}
