.ant-upload-select {
  width: 100%;
  display: flex !important;

  & .ant-upload {
    position: relative;
    width: 100%;
  }

  .ant-btn {
    width: 100%;
    display: flex;
    color: $grey;
    font-weight: 600;

    &:hover {
      color: $accent-color-light !important;
      border-color: $accent-color-light !important;
    }
  }

  .upload_input {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -999;
  }
}

.ant-upload-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: .7rem;

  &::before,
  &::after {
    display: none !important;
  }

  & .ant-upload-list-item-container {
    flex: 0 1 49% !important;
    margin: 0;

    .ant-upload-list-item {
      margin: 0;
      height: 7rem !important;
      padding: .4rem !important;
      gap: .5rem !important;
    }

    .ant-upload-list-item-thumbnail {
      max-width: 5.5rem !important;
      width: 100% !important;
      height: 100% !important;
      max-height: 5.5rem !important;
      line-height: 1 !important;
    }

    .ant-upload-list-item-image {
      display: flex !important;
      object-fit: cover !important;
    }

    .ant-upload-list-item-name {
      //max-width: 7rem;
      padding: 0 !important;
    }

    .ant-upload-list-item-actions {
      margin: 0 0 0 auto !important;
    }
  }
}
