@use "../variables";

.user-about-info {

  .loader {
    position: absolute;
  }

  &__body {
  }

  &__id {
    font-weight: 500;
    font-size: 1.6rem;
  }

  &__message {
  }

  &__cars {
    margin: 0 0 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 25rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$semi-white;
    }
  }

  &__swiper {
    max-width: 30rem;

    .swiper-wrapper {
      align-items: stretch;

      .swiper-slide {
        //width: auto;
      }
    }

    &--image {
      max-height: 20rem;
    }
  }

  &__car {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;

    &--info {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-text {
    }

    &-submit {
      margin: 2rem 0 0 0;
      background-color: variables.$accent-color-light;
      padding: .8rem 1rem !important;
      color: variables.$white;
    }
  }

  &__delete {
    margin: 2rem 0 0 0;

    &_button {
      width: 100%;
      background-color: variables.$red;
      color: variables.$white;
    }
  }
}
