.cars_body {
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-weight: 600;
	text-align: center;
	padding: 15px 0;
	color: var(--tg-theme-text-color) !important;
}

.image_grid {
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.image_card {
	flex: 0 1 auto;
}

@media (max-width: 860px) {
	.title {
		font-size: 24px;
	}
	.cars_body {
		padding: 0 7px;
	}
}
