.cars_body {
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-weight: 600;
	text-align: center;
	padding: 15px 0;
	color: var(--tg-theme-text-color) !important;
}

.image_grid {
	margin: 30px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.image_card {
	flex: 0 1 auto;
}

.image_card img{
	max-width: 400px;
	width: 100%;
	border: 7px solid #fff;
	box-shadow: 0 0 5px rgba(79, 79, 79, 0.676);
}

@media (max-width: 860px) {
	.image_card {
		flex: 0 1 45%;
	}
}
