.counter {}

.counter__body {
    display: flex;
    align-items: center;
    gap: 7px;
}

.counter__button {
    line-height: 0;
    transition: background-color .3s ease-in-out;
    border-radius: 50%;
    padding: 5px;
}

.counter__button:hover {
    background-color: rgba(243, 243, 243, 0.55);
}


.counter__count {
    display: block;
    padding: 0;
    width: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    pointer-events: none;
}

@media (max-width: 600px) {
    .counter__count {
        font-size: 14px;
    }
}
