.cart__body {
    position: relative;
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__empty {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__empty span svg {
    width: 100px;
    height: 100px;
    opacity: .4;
}


.cart__results {}

.cart__footer {}