.cart__body {
    position: relative;
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart__items::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.cart__items::-webkit-scrollbar-thumb {
    background-color: #f29114;
    border-radius: 10px;
}

.cart__items::-webkit-scrollbar-track {
    background-color: transparent;
}

.cart__empty {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__empty span svg {
    width: 100px;
    height: 100px;
    opacity: .4;
}

.cart__footer {
    margin: 40px 0 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.cart__footer_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__footer_select_title {

}

.cart__footer_left {

}

.cart__footer_select {

}

.cart__results {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart__available {
    display: block;
    margin: 5px 0 0 0;
    max-width: 500px;
    font-weight: 300;
    font-size: 14px;
    color: #f27814;
    letter-spacing: 0.05em;
}

.cart__total_count {
    font-weight: 300;
    font-size: 14px;
    color: #b6b6b6;
}

.cart__total_sum {
    font-size: 18px;
    font-weight: 500;
}

.cart__total_sum span {
    font-size: 16px;
    font-weight: 300;
}

.cart__button_order {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f27814;
    padding: 12px 15px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    white-space: nowrap;
    transition: background-color .3s ease-in-out;
}

.cart__button_order:hover {
    background-color: #ec6902;
}

.order__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0 0 0 !important;
    max-height: 200px;
    overflow-x: scroll;
    padding: 0 4px 0 0 !important;
}

.order__items::-webkit-scrollbar {
    display: block;
    width: 2px;
}

.order__items::-webkit-scrollbar-thumb {
    background-color: #f29114;
    border-radius: 10px;
}

.order__items::-webkit-scrollbar-track {
    background-color: transparent;
}

.order__item {
}

.order__item_body {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order__item_photo {
    max-width: 30px;
}

.order__item_info {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.order__item_title {
    font-size: 14px;
    letter-spacing: 0.05em;
    font-family: "Roboto", sans-serif !important;
}

.order__item_count {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
}

.order__item_count span {
}

.order__item_count p {
}

.order__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin: 10px 0 20px;
}

.order__footer .cart__results {
    align-items: flex-end;
    gap: 2px;
}

.order__phone {
    max-width: 250px;
}

@media (max-width: 550px) {
    .cart__footer {
        flex-direction: column-reverse;
    }

    .cart__footer_select {
        width: 100%;
    }

    .cart__footer_select_ant {
        width: 100%;
    }

}
