.form {
  margin: 0 auto;
  padding: 0 15px;
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.search_body {
  margin: 0 auto;
  padding: 0 10px;
}

.result_body {
  padding: 30px 0;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid rgba(205, 205, 205, 0.676);
  outline: none;
  box-shadow: 0 0 5px rgba(205, 205, 205, 0.676);
  -webkit-box-shadow: 0 0 5px rgba(205, 205, 205, 0.676);
  font-weight: 600;
  color: rgb(79, 79, 79);
}

.input.error {
  border-color: #ce1010ac;
  background-color: #ce101065;
  color: #fff;
}

.image_body {
  display: flex;
  justify-content: center;
  margin: 15px 0 25px 0;
}

.image_body img {
  margin: 0 auto;
  max-width: calc(100vw - 10%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(79, 79, 79, 0.676);
  -webkit-box-shadow: 0 0 5px rgba(79, 79, 79, 0.676);
}

.textBody {
  display: flex;
  justify-content: center;
}

.list {
  font-weight: 300;
  font-size: 20px;
}

.list li span {
  font-weight: 400;
}

.notFound {
  display: flex;
  justify-content: center !important;
  margin: 50px 0 0 0;
}

.notFound span svg {
  font-weight: 300;
  width: 10em;
  height: 10em;
}

.notFoundImg {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.notFoundImg.empty {
  display: none;
}

.notFoundImg p {
  font-weight: 300;
  font-size: 26px;
}

.select_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.select_field {
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.select_field:not(:last-child) {
  margin: 0 0 15px 0;
}

.label {
  text-align: left;
  margin: 0 0 5px 0;
}

.input_label {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0 10px 0 !important;
}

.form_upload {
  margin: 20px 0;
}

.form_footer {
  font-size: 12px;
  font-weight: 300;
}

.form_footer p {
  margin: 5px 0 0 0;
}

.select {
  display: block;
  width: 100%;
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid rgba(205, 205, 205, 0.676) !important;
  outline: none;
  box-shadow: 0 0 5px rgba(205, 205, 205, 0.676);
  -webkit-box-shadow: 0 0 5px rgba(205, 205, 205, 0.676);
  font-weight: 600;
  color: rgb(79, 79, 79);
}

.option {
  font-weight: 600;
}

.btnChangeForm {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #ececec !important;
  outline: none;
  box-shadow: 0 0 5px rgb(205 205 205 / 68%);
  border-radius: 5px;
  padding: 10px 7px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333333;
  transition: all .3s ease-in-out;
}

.btnChangeForm.active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  border: 1px solid #248d00 !important;
  background-color: #248d00;
  color: #ffffff;
}