.admin-users {


  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {

  }

  &__modal {
    letter-spacing: 0.03em;

    .ant-modal-content {
      @media (max-width: 500px) {
        padding: 15px 10px;
      }
    }

    &-current-value {
      font-family: "Roboto", sans-serif;
    }

    &-new-value {
      margin: 10px 0 20px;

      span {

      }
    }

    &-new-value-input {
      margin: 7px 0 0 0;
      width: 100%;
      background-color: #8fa1a938;
      padding: 8px 10px;
      border-radius: 7px;

      input {
        font-family: "Roboto", sans-serif;
        width: 100%;
        border: none;
        outline: none;
        background: none;
        font-weight: 300;
        font-size: 15px;
        color: #000;
        letter-spacing: 0.03em;
      }
    }
  }
}

.admin-user-item {


  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    background-color: #7a919c45;
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    padding: 15px;

    @media (max-width: 500px) {
      padding: 15px 10px;
    }
  }

  &__image {
    position: relative;
    flex: 0 1 270px;
    height: 270px;
    width: 100%;

    .ant-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .ant-image-img {
      width: 100%;
      height: 270px;
      object-fit: cover;
    }
  }

  &__row {
    display: flex;

    &:not(:last-child) {
      margin: 0 0 5px 0;
    }

  }

  &__key {
    width: 100px;
    text-align: right;
    font-weight: 300;
    margin: 0 15px 0 0;
  }

  &__value {
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      max-width: 130px;
    }
  }


  &__edit {
    cursor: pointer;

    svg {
      fill: #350068;
    }
  }
}
