@use "../variables";

.page-attributes {
  padding: 0 0 5rem 0;

  &__title {}

  &__body {
    height: 100%;
    margin: 2rem 0 0 0;

  }

  &__products {}

  &__section {
    overflow: hidden;

    &-title {
      font-size: 2rem;
      text-align: center;
    }

    &-products {
      margin: 2rem 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem 1rem;

    }

    &-product {
      position: relative;
    }
  }
}
