@use "../variables";

.registration {
  padding: 0 0 10rem 0;

  &__title {
    text-align: center;
    margin: 0 0 3rem 0;
  }

  &__body {}

  &__form {

    &-body {
      display: flex;
      flex-direction: column;
    }

    &-footer {
      margin: 2rem 0 0 0;
      transition: opacity variables.$transition;
    }

    &-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      background-color: variables.$accent-color-light;
      width: 100%;
      padding: 1rem;
      color: variables.$white;

      &:hover {
        background-color: variables.$accent-color;
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: opacity variables.$transition, height variables.$transition, visibility variables.$transition;
    width: 100%;
    min-height: 4.5rem;


    &-select {
      width: 100%;

      &.select-antd .ant-select{
        box-shadow: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #004C9D !important;
        border-radius: 0 !important;
        background-color: #ffffff;
        width: 100%;
        font-size: 1.6rem;
        font-family: inherit !important;
        padding: 0.7rem;

        .ant-select-selector {
          padding: 0 0 0 2rem !important;
        }

        .ant-select-selection-item {
          font-weight: 600;
          color: #4f4f4f !important;
        }

      }
    }

    &-input {
      width: 100%;

      &.input-antd .ant-input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #004C9D !important;
        border-radius: 0 !important;
        outline: none;
        font-family: inherit;
        font-size: 1.6rem;
        transition: border-bottom 0.3s ease-in-out;
        padding: .9rem 0.7rem .9rem 2.5rem;
      }
    }

    &-upload {
      width: 100%;

      .ant-upload-list {
        flex-wrap: wrap;

        .ant-upload-list-item-container {
          flex: 0 1 49% !important;
        }
      }
    }

    &-icon {
      position: absolute;
      left: 0;
      bottom: 1rem;
      z-index: 1;

      svg {
        width: 2rem;
        height: 2rem;
        fill: variables.$accent-color;
      }
    }
  }

  &__car-block {

    & + & {
      padding: 1rem 0 0 0;
      margin: 1rem 0 0 0;
      border-top: .3rem solid variables.$accent-color;
    }

    //border-top: 1px solid $semi-dark;
    //border-bottom: 1px solid $semi-dark;
    //padding: 2rem 0;

    & .car-data-fields {
      display: flex;
      flex-direction: column;
      gap: .7rem;
    }

    & .ant-upload-select .ant-btn {
      height: auto;
      padding: 1rem 2rem;
      margin: 0.5rem 0;
      color: variables.$green !important;
      border-color: variables.$green !important;
      box-shadow: none;
      transition: all variables.$transition !important;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: variables.$border-radius;
      overflow: hidden;

      &:hover {
        background-color: variables.$green-light;
        border-color: variables.$green-light !important;
        color: variables.$semi-dark !important;
      }
    }


    &-controls {
      margin: 1rem 0 0 0;
      display: flex;
      align-items: stretch;

      &-add {
        color: variables.$green;

        &:hover {
          border-color: variables.$green-light;
          background-color: variables.$green-light;
          color: variables.$semi-dark;
        }
      }

      &-delete {
        color: variables.$red;

        &:hover {
          border-color: variables.$red-light;
          background-color: variables.$red-light;
          color: variables.$semi-dark;
        }
      }

      button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        border: 1px solid variables.$grey-light;
      }
    }
  }
}
