.cart__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 7px;
    background-color: rgba(104, 106, 108, 0.1);
    border-radius: 10px;
}

.cart__item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.cart__item_info_left,
.cart__item_info_right {
    display: flex;
    align-items: center;
}

.cart__item_info_right {
    gap: 15px;
}

.cart__item_photo {
    margin: 0 20px 0 0;
}

.cart__item_photo img {
    cursor: pointer;
    max-width: 50px;
    min-width: 30px;
    width: 100% !important;
}

.cart__item_title {
    font-size: 16px;
    letter-spacing: 0.05em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cart__item_counter {
    letter-spacing: 0.05em;
}

.cart__item_sum {
    text-align: right;
    width: 80px;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

.cart__item_delete {
    cursor: pointer;
}

@media (max-width: 600px) {
    .cart__item {
        gap: 10px;
    }

    .cart__item_info_right {
        gap: 2px;
        flex-direction: column;
        align-items: center;
    }

    .cart__item_sum {
        text-align: center;
        width: auto;
    }

    .cart__item_title {
        font-size: 14px;
    }

    .cart__item_sum {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .cart__item {
        min-width: 290px;
    }

    .cart__item_info {
        align-items: flex-start;
        flex-direction: column;
    }

    .cart__item_info_right {
        flex-direction: row;
        gap: 15px;
        background-color: #e7e7e7;
        padding: 2px 15px;
        border-radius: 10px;
    }

    .cart__item_delete {
        position: absolute;
        bottom: 9px;
        right: 3px;
    }
}
