.stickers__body {

}

.stickers__grid {
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker__info {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 7px;
    /*width: 100%;*/
}

.sticker__title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    height: 52px;
}

.sticker__price {
    display: block;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.sticker__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    background-color: #f3f3f3;
    transition: background-color .3s ease-in-out;
    overflow: hidden;
}

.sticker__footer_add {
    background-color: #b9ffd2;
}

.sticker__ozon {
    position: relative;
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    overflow: hidden;
    color: #ffffff;
    font-weight: 500;
}

.sticker__ozon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(255,0,0,1) 5%, rgba(0,78,255,1) 15%, rgba(255,0,0,1) 30%, rgba(0,78,255,1) 45%, rgba(255,0,0,1) 60%, rgba(0,78,255,1) 75%, rgba(255,0,0,1) 100%);
    background-size: 200% 100%;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    animation: ozonBtnAnim 7s linear infinite;
}

@keyframes ozonBtnAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.sticker__counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker__button_cart {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none !important;
    color: #333333 !important;
}

.sticker__button_cart span {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #333333 !important;
}

@media (max-width: 550px) {
    .sticker__button_cart span {
        font-size: 14px;
    }
    .sticker__ozon {
        font-size: 13px;
    }
}

.stickers__admin_update {
    position: fixed;
    top: 0;
    right: 40px;
    bottom: 0;
    margin: auto 0;
    background: rgba(22, 119, 255, 0.71);
    height: 45px;
    width: 45px !important;
}

.stickers__admin_update svg {
    width: 20px;
    height: 20px;
}


@media (max-width: 768px) {
    .stickers__grid {
        grid-template-columns: repeat(2, 200px);
    }
}


@media (max-width: 500px) {
    .stickers__grid {
        grid-template-columns: repeat(2, 170px);
    }

    .sticker__title {
        font-size: 14px;
    }

    .sticker__price {
        font-size: 12px;
    }
    .stickers__admin_update {
        right: 0;
    }
}

@media (max-width: 375px) {
    .stickers__grid {
        grid-template-columns: repeat(2, 150px);
    }
}

.sticker__values {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 550px) {
    max-height: 380px;
    height: 100%;
    overflow-y: scroll;
    padding: 0 3px 0 0;
}

.sticker__values::-webkit-scrollbar {
    display: block;
    width: 2px;               /* ширина scrollbar */
}
.sticker__values::-webkit-scrollbar-track {
    background: #d5d5d5;        /* цвет дорожки */
}
.sticker__values::-webkit-scrollbar-thumb {
    background-color: #1677FF;    /* цвет плашки */
    border-radius: 7px;       /* закругления плашки */
}

.sticker__value {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sticker__value h4 {
    font-weight: 500;
    letter-spacing: 0.05em;
}

.sticker__value h4 span {
    font-weight: 300;
}
