
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  padding: 0 15px;
}

.page {
  margin: 68px 0 0 0;

  @media (max-width: 550px) {
    margin: 58px 0 0 0;

    .container {
      padding: 0 10px;
    }
  }
}


.content_accordion {
  border-radius: 5px;
  overflow: hidden;

  & .ant-collapse {
    border: none;
  }

  &.ant-collapse-content {
    border-top: none !important;
    background-color: #f8f8f8;
  }

  & .ant-collapse-header {
    align-items: center !important;
    flex-wrap: nowrap !important;
    background: linear-gradient(90deg, rgba(43, 42, 41, 0.9) 0%, rgba(198, 32, 58, 0.90) 60%, rgba(242, 145, 20, 0.90) 100%);
    transition: background .3s ease-in-out;
    padding: 18px 15px !important;
  }

  & .ant-collapse-header:hover,
  & .ant-collapse-item-active .ant-collapse-header {
    background: linear-gradient(90deg, rgba(43, 42, 41, 1) 0%, rgba(198, 32, 58, 1) 50%, rgba(242, 145, 20, 1) 100%);
  }

  & .ant-collapse-item:last-child {
    border-bottom: none;
  }

  & .ant-collapse-header-text {
    font-weight: 500;
    color: rgb(255, 255, 255) !important;
    font-size: 16px;
  }

  & .anticon svg {
    fill: #ffffff;
  }

  & .ant-collapse-item-active .anticon svg {
    transform: rotate(90deg);
  }

  & .ant-collapse-item-active .ant-collapse-header {
    border-radius: 0 0 0 0 !important;
  }
}


.sticker__photo {
  position: relative;
  cursor: pointer;

  & .ant-image-img {
    transition: transform .3s ease-in-out;
    object-fit: cover;
    max-height: 239px;
  }

  &:hover .ant-image-img {
    transform: scale(1.1);
  }

}

@media (max-width: 550px) {
  .sticker__photo .ant-image-img {
    max-width: 140px;
  }
  .sticker__photo:hover .ant-image-img {
    transform: none;
  }
}

.sticker__photo .ant-image .ant-image-mask {
  background: none !important;
  transform: scale(1.2);
  font-weight: 500;
}


.bottom-navbar {

}

.bottom-navbar .MuiBottomNavigation-root {
  position: fixed;
  z-index: 4;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(104, 106, 108, 0.9);
  transition: bottom .3s ease-in-out;
}

@media (max-width: 550px) {
  .bottom-navbar .MuiBottomNavigation-root {
    bottom: 0;
    max-width: none;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(90deg, rgba(242, 145, 20, 1) 0%, rgba(192, 32, 58, 0.9) 50%, rgba(242, 145, 20, 0.9) 100%);
  }
}

.bottom-navbar__link {
  position: relative;
  flex: 0 1 100px;
  display: flex;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.bottom-navbar__link .MuiButtonBase-root {
  max-width: 100px;
  width: 100%;
  height: 100%;
  min-width: 60px;
}

.cart-count {
  position: absolute;
  top: 6px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(104, 106, 108);
  line-height: 0.8;
  pointer-events: none;
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 1;
}


.sticker__preview {
  background: #ffffffd9;
  padding: 40px;
  box-shadow: 0 0 20px 9px #00000057;
}

.sticker__preview img {
  pointer-events: none;
  object-fit: contain;
  max-width: 400px;
  width: 100%;
}


.bottom-navbar__link .MuiBottomNavigationAction-label {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: .07em;
}

.ant-select-arrow {
  transition: transform .3s ease-in-out !important;
}


.ant-select-selection-item {
  padding-inline-end: 0 !important;
}

.cart__footer_select_ant {
  border-radius: 7px !important;
  overflow: hidden;
  border: none !important;
  width: 260px;
}

.cart__footer_select_ant.ant-select-open .ant-select-arrow {
  transform: rotate(180deg);
}

.cart__footer_select_ant .ant-select-selector {
  padding: 0 7px !important;
  box-shadow: none !important;
}

.cart__footer_select_ant.ant-select-open .ant-select-selector {
  /*border-color: #f27814 !important;*/
}

.cart__footer_select_popup .ant-select-item {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

.cart__comment {
  margin: 30px 0 0 0;
}

.cart__comment .ant-input-outlined:hover,
.cart__comment .ant-input-outlined:focus-within {
  border-color: #f27814 !important;
  box-shadow: none !important;
}

.cart__comment textarea {
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0.1em;
  color: #333333;
  min-height: 80px;
}

.input__phone {
  outline: none;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #f27814 !important;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  text-align: end;
  max-width: 150px;
}

.input__phone::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 500px) {
  .bottom-navbar__link .MuiBottomNavigationAction-label {
    font-size: 12px !important;
    letter-spacing: 0;
  }
  .bottom-navbar__link .MuiButtonBase-root {
    max-width: 60px;
  }
  .bottom-navbar__link .MuiBottomNavigationAction-root {
    /*padding-top: 14px;*/
    /*padding: 14px 5px 0;*/
  }
  .cart__footer_select_ant {
    max-width: none;
  }

}

.bottom-navbar__link .Mui-selected .MuiSvgIcon-root {
  fill: #ffffff;
}

.ant-drawer-content {
  position: relative;
}

.ant-drawer .ant-drawer-header {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 20px !important;
}

.ant-drawer-header-title {
  width: 100%;
}

.ant-drawer-title {
  text-align: center;
}

.ant-drawer-extra {
  width: 100%;
}

.stickers__drawer-btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
}

.stickers__drawer-btn-save {
  max-width: 150px;
  width: 100%;
}

.ant-result {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  padding: 10px 20px;
}

.ant-result .ant-result-image {
  margin: 0 auto;
}

.ant-result .ant-result-title {
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.ant-result .ant-result-subtitle {
  max-width: 450px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.ant-result .ant-result__invite {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #8fa1a9;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.ant-result .ant-result__invite:hover {
  border-radius: 10px;
  background-color: #aec4ce;
  color: #405ce1;
}

.ant-empty-description {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.ant-select {
  box-shadow: 0 0 5px rgba(205, 205, 205, 0.676) !important;
  border-radius: 5px !important;
  border: 1px solid rgba(205, 205, 205, 0.676) !important;
  background-color: #ffffff;
}

.ant-select-selector {
  padding: 4px 7px !important;
  border: none !important;
  outline: none !important;
  font-weight: 600;
  color: rgb(79, 79, 79);
  border-radius: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.ant-select-single {
  font-size: 16px !important;
  height: auto !important;
}

.ant-select-selection-item {
  font-weight: 600 !important;
  color: rgb(79, 79, 79) !important;
}


