.page {
  margin: 77px 0 0 0;
  padding: 20px 0 120px;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  padding: 0 15px;
}

.content_accordion {
  border-radius: 5px;
  overflow: hidden;
}

.content_accordion .ant-collapse {
  border: none;
}

.content_accordion .ant-collapse-content {
  border-top: none !important;
  background-color: #f8f8f8;
}

.content_accordion .ant-collapse-header {
  align-items: center !important;
  flex-wrap: nowrap !important;
  background: linear-gradient(90deg, rgba(43,42,41,0.9) 0%, rgba(198,32,58,0.90) 60%, rgba(242,145,20,0.90) 100%);
  transition: background .3s ease-in-out;
  padding: 18px 15px !important;
}

.content_accordion .ant-collapse-header:hover,
.content_accordion .ant-collapse-item-active .ant-collapse-header{
  background: linear-gradient(90deg, rgba(43,42,41,1) 0%, rgba(198,32,58,1) 50%, rgba(242,145,20,1) 100%);
}

.content_accordion .ant-collapse-item {

}

.content_accordion .ant-collapse-item:last-child {
  border-bottom: none;
}

.content_accordion .ant-collapse-header-text {
  font-weight: 500;
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
}

.content_accordion .anticon svg {
  fill: #ffffff;
}

.content_accordion .ant-collapse-item-active .anticon svg {
  transform: rotate(90deg);
}

.content_accordion .ant-collapse-item-active .ant-collapse-header {
  border-radius: 0 0 0 0 !important;
}

.sticker__photo {
  position: relative;
  cursor: pointer;
}

.sticker__photo .ant-image-img {
  transition: transform .3s ease-in-out;
}

.sticker__photo:hover .ant-image-img {
  transform: scale(1.1);
}

.sticker__photo .ant-image .ant-image-mask {
  background: none !important;
  transform: scale(1.2);
  font-weight: 500;
}




.bottom-navbar {
  position: fixed;
  z-index: 5;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bottom-navbar .MuiBottomNavigation-root {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(104, 106, 108, 0.9);
}

.bottom-navbar__link {
  position: relative;
  flex: 0 1 100px;
  height: 100%;
  display: block;
}

.bottom-navbar__link .MuiButtonBase-root{
  max-width: 100px;
  width: 100%;
  height: 100%;
}

.cart-count {
  position: absolute;
  top: 6px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(104, 106, 108);
  line-height: 0.8;
  pointer-events: none;
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}


.sticker__preview {
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 20px 9px #00000057;
}

.sticker__preview img {
  object-fit: contain;
  max-width: 400px;
  width: 100%;
}


.bottom-navbar__link .MuiBottomNavigationAction-label {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: .07em;
}

@media (max-width: 450px) {
  .bottom-navbar__link .MuiBottomNavigationAction-label {
    font-size: 12px !important;
    letter-spacing: 0;
  }
  .bottom-navbar__link .MuiButtonBase-root {
    max-width: 70px;
  }

}

.bottom-navbar__link .Mui-selected .MuiSvgIcon-root {
  fill: #ffffff;
}
