* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
}

html {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--tg-theme-text-color) !important;
    background: var(--tg-theme-bg-color) !important;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.link {
    color: var(--tg-theme-link-color);
}

.button {
    font-family: inherit;
    background: var(--tg-theme-button-color) !important;
    color: var(--tg-theme-button-text-color) !important;
    border: none;
    font-size: 18px;
}

.button:not(:last-child) {
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    display: none;
}
