.accordion {
  width: 100%;
  margin: 1rem auto;
  border-radius: 5px;
  overflow: hidden;
}

.accordion_item {

}

.accordion_title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 300;
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  color: rgb(49, 49, 49);
}

.partnerInfo {
  position: relative;
  color: rgb(76 76 76);
}

.partnerInfo:not(:last-child) {
  padding: 0 0 10px 0;
}

.partnerInfo:not(:last-child):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(244,244,244,1) 38%, rgba(63,165,59,1) 80%, rgba(43,42,41,1) 100%);
}

.partnerInfo + .partnerInfo {
  margin: 10px 0 0 0;
}

.partnerInfo div:not(:last-child) {
  margin: 0 0 10px 0;
}

.partName {
  font-weight: 500;
  font-size: 20px;
}

.partDescp {
  font-size: 16px;
  font-style: italic;
}

.partLink a {
  color: rgb(76 76 76);
  cursor: pointer;
  font-size: 16px;
}

.partPhones, .partLink {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.partPhones a,
.partLink a {
  position: relative;
  color: rgb(76 76 76);
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.partPhones a {

}

.partPhones a::after,
.partLink a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  margin: 0 auto;
  height: 1px;
  background: linear-gradient(90deg, rgba(43, 42, 41, 1) 0%, rgba(198, 32, 58, 1) 50%, rgba(242, 145, 20, 1) 100%);
  transition: width .3s ease-in-out;
}

.partPhones a:hover::after,
.partLink a:hover::after {
  width: 100%;
}

.partPhones a:not(:last-child),
.partLink a:not(:last-child) {
  padding: 0 4px 0 0;
}

.partPhones a:not(:last-child)::before,
.partLink a:not(:last-child)::before {
  content: ',';
  position: absolute;
  right: 0;
  bottom: 0;
}

.partAddress {
  font-weight: 300;
  font-size: 16px;
}

.linePart {
  height: 2px;
  background: linear-gradient(to top left, #6f18c0a8, #6e18c0);
  margin: 5px 0 0 0;
}

.arrow {
  position: absolute;
  right: 0;
  /* bottom: 20px; */
  transform: rotate(225deg);
  width: 15px;
  height: 15px;
  border-top: 5px solid #6f18c0a8;
  border-right: 5px solid #6e18c0;
  margin-right: 20px;
  transition: 0.3s;
}

.arrow.active {
  transform: rotate(135deg);
  border-top: 5px solid #6e18c0;
  border-right: 5px solid #6f18c0a8;
}

.accordion_title:hover {
}

.accordion_title {
  display: flex;
  align-items: center;
}

.accordion_title,
.accordion_content {
  padding: 1rem;
}

.accordion_content.show {
  animation: show 1.3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  color: rgb(49, 49, 49);
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  border-radius: 0 0 5px 5px;
}

.accordion_content.hide {
  display: none;
  opacity: 0;
  transition: 1s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
